.logo{
	height:4.5em;
	width:auto;
}

.logo2{
	margin-top:1em;
	height:2.5em;
	width:auto;
}
.logo3{
	margin-top:1em;
	height:2em;
	width:auto;
}


.fellagift{
	margin: 0 .5em;
	height:8rem;
	width:auto;
}

.torielwarm{
	height:15em;
	width:auto;
}

.torielcarol{
	height:15em;
	width:auto;
}

.gift{
	height:2.5em;
	width:auto;
}

.gift2{
	height:3.5em;
	width:auto;
}

.metta{
	margin-top:3em;
	height:20em;
	width:auto;
}